<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Shopping Cart</h1>

    <h3>Select your Budget</h3>
    <h3>Select Event Type</h3>
    <p>Birthday</p>
    <p>Wedding</p>
    <p>Annivarsary</p>
    <h3>Select the location in Islamabad</h3>
    <h3>Select the Theme</h3>
    <h3>Select Services</h3>
    <p>Catering</p>
    <p>Decoration</p>
    <p>Photography</p>
    <h3>Select the menu </h3>
    <p>Starter</p>
    <p>Main course</p>
    <p>Sweet Dish</p>
    <form action="/checkout" method="post">
        <input type="submit" value="Proceed to Checkout">
    </form>
</body>
</html>